@import 'colors';

.react-tiny-popover-container {
  color: black;
  background-color: lightgray;
  padding: 5px;
}

.eunomia-wrapper {
  background-color: $eunomia-wrapper;
  color: $lighter-text-color;
}
.eunomia-cascade-link {
  color: $lighter-text-color;
}

.eunomia-info-view {
  background-color: $eunomia-action-bar-wrapper;
  color: $lighter-text-color;
  flex-direction: column;
  padding: 10px;
}

.eunomia-action-bar-wrapper {
  background-color: $eunomia-action-bar-wrapper;
  color: $lighter-text-color;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.eunomia-cascade-action-bar-wrapper {
  background-color: $eunomia-cascade-action-bar-wrapper;
  color: $lighter-text-color;
  padding-left: 5px;
}

.eunomia-cascade-info-view {
  background-color: $eunomia-cascade-action-bar-wrapper;
  color: $lighter-text-color;
  flex-direction: column;
  padding: 10px;
}

.focusable {
  &:focus {
    .detailed-status__action-bar {
      background: $ui-base-color !important;
    }
  }
}

.eunomia-menu-icon-wrapper {
  padding: 2px;
  margin-top: 2px;
  display: flex;
  margin-right: 1px;
}

.eunomia-menu-icon-counter {
  font-size: small;
  margin-top: 4px;
  margin-left: -2px;
  z-index: 4;
}

.eunomia-menu-icon {
  width: 90%;
  height: 90%;
  object-fit: contain;
  margin-left: 0;
  z-index: 4;
}

.status__wrapper:focus {
  color: inherit !important;
  background-color: inherit !important;
  transition: none !important;
  transition-property: none !important;
}

.eunomia-indicators-header-view {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.eunomia-indicators-close {
  color: $lighter-text-color;
  background: transparent;
  width: 14px;
  height: 14px;
  border: 1px solid $lighter-text-color;
  border-radius: 8px;
  position: relative;
}
.eunomia-indicators-close:after {
  content: '';
  height: 14px;
  border-left: 1px solid $lighter-text-color;
  position: absolute;
  transform: rotate(45deg);
  left: 7px;
}

.eunomia-indicators-close:before {
  content: '';
  height: 14px;
  border-left: 1px solid $lighter-text-color;
  position: absolute;
  transform: rotate(-45deg);
  left: 7px;
}

.eunomia-indicators-close {
  cursor: pointer;
}

.eunomia-icon-button {
  color: $lighter-text-color;
  margin-right: 10px !important;
}

.eunomia-discuss-button:hover {
  background-color: initial !important;
}

.eunomia-icon-button:hover,
.eunomia-icon-button:active,
.eunomia-icon-button:focus,
.eunomia-icon-button.disabled {
  color: $lighter-text-color !important;
  background-color: inherit !important;
  transition: none !important;
  transition-property: none !important;
}
.status__eunomia__cascade__content a {
  color: inherit !important;
}

.status__content__text__eunomia:hover {
  cursor: default !important;
}

.floating-action-button {
  z-index: 9999;
}

.cascade-load-more-button {
  border: thin $lighter-text-color solid;
}
.logo-container h1 a svg {
  display: none;
}
.logo-container h1 a {
  content: $logo-name;
  max-height: 160px;
}
.drawer__inner__mastodon > img {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 0 10px 10px 10px;
}

.voting-button-text-link {
  //margin-left: -11px;
  margin-right: 2px;
  margin-left: -6px;
  text-decoration: none;
  font-size: 16px;
  color: $eunomia-indicators-text;
  cursor: pointer;
}

.voting-button-text-link-disabled {
  margin-right: 2px;
  margin-left: -6px;
  text-decoration: none;
  font-size: 16px;
  color: $eunomia-indicators-text;
  cursor: default;
  pointer-events: none;
}
.guideline-message {
  color: $ui-secondary-color;
  font-style: italic;
  font-size: larger;
  text-align: justify;
  margin-top: 12px;
}

.eunomia-stats {
  margin-top: 20px;
  & div {
    font-size: large;
  }
}

.eunomia-nudge {
  margin-top: 5px;
  text-align: center;
  font-size: small;
  border: thin $light-text-color solid;
  color: $light-text-color;
}

.eunomia-information-cascade-view-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 41px;
}

.eunomia-information-cascade-view-top {
  position: sticky;
  top: 15px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  justify-content: space-between;
  z-index: 10 !important;
  background-color: $eunomia-cascade-action-bar-wrapper;
}

.eunomia-information-cascade-view {
  margin: 0;
  width: 100%;
}

.react-tiny-popover-container {
  z-index: 9 !important;
  background-color: transparent !important;
}
.eunomia-blockchain-popover {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  max-width: 480px;
  padding: 5px;
}

.eunomia-cascade-post-view {
  color: $cascade-post-text;
}

.eunomia-cascade-selected-post-view {
  color: #544895;
}
.welcome-logo {
  max-width: 180px;
  max-height: 100px;
}

.drawer__inner__eunomia {
  background: none !important;
}

.eunomia_instance_select {
  appearance: none;
  box-sizing: border-box;
  font-size: 16px;
  color: darken($primary-text-color, 20%);
  display: block;
  width: 100%;
  outline: 0;
  font-family: inherit;
  resize: vertical;
  background: darken($ui-base-color, 10%)
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='#{hex-color(lighten($ui-base-color, 12%))}'/></svg>")
    no-repeat right 8px center / auto 16px;
  border: 1px solid darken($ui-base-color, 14%);
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 30px;
  height: 41px;
}

.reface {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  background: transparent;
  & > video {
    width: 100%;
    max-height: 50vh;
  }
}
.reface-mobile {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  background: transparent;
  & > video {
    width: auto;
    max-height: 380px;
  }
}
.reface_controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  padding: 0 10px;
  z-index: 99;
  width: calc(100% - 20px);
}
